<div class="dishes padd">
  <div class="container">
    <!-- Default Heading -->
    <div class="default-heading">
      <!-- Crown image -->
      <img class="img-responsive" src="/img/crown.png" alt="" />
      <!-- Heading -->
      <h2>Receitas</h2>

      <p>Todas as receitas do CookBook</p>
      <!-- Border -->
      <div class="border"></div>
    </div>
    <div class="row">
      <% @recipes.each do |recipe| %>
      <%= render recipe %>
      <% end %>
    </div>    
  </div>          
</div>
<%= render partial: "/partials/type_and_cuisine" %> 