<div class="dishes padd">
  <div class="container">
    <!-- Default Heading -->
    <div class="default-heading">
      <!-- Crown image -->
      <img class="img-responsive" src="/img/crown.png" alt="" />
      <!-- Heading -->
      <h2>Resultado da busca por: <%= @recipe_name %></h2>

      <p>Receitas encontradas</p>
      <!-- Border -->
      <div class="border"></div>

      <%= link_to "Voltar", root_path, class: "btn btn-primary pull-left" %>
    </div>
    <div class="row">
      <% if @recipes.blank? %>
        <h2>Nenhuma receita encontrada</h2>
      <% else %>
        <% @recipes.each do |recipe| %>
        <%= render recipe %>
        <% end %>
      <% end %>
    </div>    
  </div>          
</div>

