<!-- Main Content -->
<div class="main-content">

  <%= render partial: "/partials/type_and_cuisine" %> 

  <!-- Recipes Start -->

  <div class="dishes padd">
    <div class="container">
      <!-- Default Heading -->
      <div class="default-heading">
        <!-- Crown image -->
        <img class="img-responsive" src="/img/crown.png" alt="" />
        <!-- Heading -->
        <h2>Últimas Receitas</h2>
        <!-- Paragraph -->
        <p>Essas receitas acabaram de entrar no CookBook</p>
        <!-- Border -->
        <div class="border"></div>
      </div>
      <div class="row">
        <% @recipes.each do |recipe| %>
        <%= render recipe %>
        <% end %>
      </div>
      <div class="text-center">
        <%= link_to 'Todas as Receitas', recipes_path, class: "dish-all btn btn-primary btn-lg" %>  
      </div>      
    </div>          
  </div>

  <!-- <Recipes End -->

  <!-- Favorites Start -->

  <div class="dishes padd">
    <div class="container">
      <!-- Default Heading -->
      <div class="default-heading">
        <!-- Crown image -->
        <img class="img-responsive" src="/img/crown.png" alt="" />
        <!-- Heading -->
        <h2>Favoritas dos Usuários</h2>
        <!-- Paragraph -->
        <p>Últimas receitas favoritadas pelos usuários</p>
        <!-- Border -->
        <div class="border"></div>
      </div>
      <div class="row favorites">
        <% @most_favorites.each do |recipe| %>
        <%= render recipe %>
        <% end %>
      </div>
    </div>          
  </div>        
</div>