<div class="dishes padd">
  <div class="container">
    <!-- Default Heading -->
    <div class="default-heading">
      <!-- Crown image -->
      <img class="img-responsive" src="/img/crown.png" alt="" />
      <!-- Heading -->
      <h2><%= @recipe_type.name %></h2>

      <p>Todas as receitas desse tipo</p>
      <!-- Border -->
      <div class="border"></div>
    </div>

    <% if !@recipes.blank? %>

    <div class="row">
      <% @recipes.each do |recipe| %>
      <%= render recipe %>
      <% end %>
    </div>
    <% else %>

    <h3 class="text-center">Nenhuma receita encontrada para este tipo de receitas</h3>

    <% end %>    
  </div>          
</div>